{% extends "base.html" %}
{% block content %}

<!-- Form -->
<div class="jumbotron jumbotron-fluid">
        <div class="container">
    
            <div class="jumbotron-content">
                    {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            Your username or password is not correct. Please try again.
                          </div>
                    {% endif %}
                 
                <form method="POST"> {% csrf_token %}
                    <!-- {{ form.as_p }} -->
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" name="username" class="form-control" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-large">Login</button>
                    {% if user.is_authenticated %}              
                    <input type="hidden" name="next" value="{% url 'login' %}" />
                    {% else %}
                    <input type="hidden" name="next" value="{% url 'index' %}" />
                    {% endif %}   
                </form>
            </div>
        </div>
    </div>
{% endblock %}
