{% extends "base.html" %} 
{% block head_title %}Register · {{ block.super}} 
{% endblock head_title %} 

{% block content %}

<!-- Form -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="jumbotron-content">
            <h3>Please complete your registration by filling this form</h3>
            {% if form.errors %} 
            {{ form.errors }} 
            {% endif %}            
            <form method="POST"> {% csrf_token %}
                <!-- {{ form.as_p }} -->
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" name="username" class="form-control" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" class="form-control" placeholder="Email">
                </div>

                <button type="submit" class="btn btn-primary btn-large">Sign Up</button>
            </form>
        </div>
    </div>
</div>

{% include "snippets/rick_modal.html" %}

{% endblock content %}
