<!doctype html>
<html lang=en>
<head>
    <meta charset="utf-8">
    <title>
        {% block head_title %}Django Maps{% endblock head_title %}
    </title>
    <meta name="description" content=""> 
    {% include "snippets/css.html" %}    
</head>

<body style="padding-top:50px;">
    {% include "snippets/navbar_beta.html" %}
    <div class="container">
        {% block content %} {% endblock content %}
    </div>
    {% include "snippets/footer_beta.html" %}    
    {% include "snippets/js.html" %}
</body>
</html>
