<!doctype html> 
{% load static %}
<html lang=en>
<head>
    <meta charset="utf-8">
    <title>
        {% block head_title %}Django Maps{% endblock head_title %}
    </title>
    <meta name="description" content=""> 
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    {% include "snippets/css.html" %}
</head>

<body style="padding-top:50px;">
    {% include "snippets/navbar.html" %}
    {% include "snippets/login_modal.html" %}    
    {% block content %} {% endblock content %}
    {% include "snippets/footer.html" %} {% include "snippets/js.html" %}
</body>

</html>
