<!-- Rick toggler -->
<div class="text-center">
    <a class="center-block" data-toggle="modal" data-target="#rickModal"><span class="glyphicon glyphicon-music" aria-hidden="true"></span></a>
</div>
<hr>

<!-- Rick Modal -->
<div id="rickModal" class="modal" role="dialog">
    <div class="modal-dialog">
        <!-- Rick Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Never Gonna Give You Up</h4>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-4by3">

                    <iframe src="https://www.youtube.com/embed/oHg5SJYRHA0?autoplay=1&loop=1" frameborder="0"></iframe>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" role="button" id="hide_rick">Hide </button>
                </div>
            </div>
        </div>
    </div>
</div>