<!-- Rick toggler -->
<div class="text-center">
<a class="center-block" data-toggle="modal" data-target="#rickModal"><span class="glyphicon glyphicon-music" aria-hidden="true"></span></a>
</div><hr>

<!-- Rick Modal -->
<div id="rickModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Rick Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Never Gonna Give You Up</h4>
            </div>
            <div class="modal-body">
                <iframe src="https://player.vimeo.com/video/45196609?autoplay=1&loop=1" width="500" height="281" frameborder="0" webkitallowfullscreen
                    mozallowfullscreen allowfullscreen></iframe>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" role="button">Hide </button>
                </div>
            </div>
        </div>
    </div>
</div>
