{% extends "base.html" %}
{% block head_title %}Add new post || {{ block.super}}{% endblock head_title %}

{% block content %}
<h1>Add new post:</h1>

{% if form.errors %}
{{ form.errors }}
{% endif %}

<form method="POST"> {% csrf_token %}
    <!-- <input type="text" name="title" placeholder="Your title"></br>
    <input type="text" name="contents" placeholder="Post contents"></br>
    <input type="text" name="location" placeholder="Your location"></br> -->
    {{ form.as_p }}
    <button type="submit">SAVE</button>
</form> 
{% endblock content %}
