{% extends "base.html" %}
{% block head_title %}Post feed || {{ block.super}}{% endblock head_title %}

{% block content %}
<h2>New posts below:</h2>

<div class="container">
<ul class="list-unstyled">
{% for obj in object_list %}
    <li>
        <h3><a href="/posts/{{ obj.slug }}">{{ obj }}</a></h3>
        <div align="right"><b>{{obj.author}}</b></div>                                  
        <p>{{ obj.contents}}<br>
            <i>{{obj.timestamp}}</i>
        </p>
        <hr>
    </li>
{% endfor %}    
</ul> 
{% endblock content %}
