{% extends "base.html" %} {% block head_title %}About · {{ block.super}} {% endblock head_title %} {% block content %}
<hr>
<img class="img-responsive" src="/assets/images/logo.png" style="    margin: 0 auto;
" alt="">
    <hr>
    <h4 align="center">This is web page based off google maps API dedicated to locating user written posts.
    <br>Application uses Python v.3, as well as Bootstrap and Django frameworks. 
    <br>To access the app please register at <a href="powerful-atoll-69880.herokuapp.com.">herokuapp</a>.
    <br>Source code available at <a href="https://gitlab.mobica.com/int_noka/django-maps">Gitlab</a>.</h4>
    <hr>
<div class="row">
        <div class="row">
                <div class="col-lg-1 col-md-2 col-xs-2 " style="width: 3.49995%;">
                </div>
    <div class="col-lg-1 col-md-2 col-xs-2 col-lg-offset-3 col-md-offset-2 col-xs-offset-2 thumb">
        <a class="thumbnail" href="https://www.python.org/">
            <img class="img-responsive" src="/assets/images/python.png" alt="">
        </a>
    </div>
    <div class="col-lg-1 col-md-2 col-xs-2 col-lg-offset-1 col-md-offset-1 col-xs-offset-1  thumb">
        <a class="thumbnail" href="https://getbootstrap.com/">
            <img class="img-responsive img-circle" src="/assets/images/bootstrap.png" alt="">
        </a>
    </div>
    <div class="col-lg-1 col-md-2 col-xs-2 col-lg-offset-1 col-md-offset-1 col-xs-offset-1 thumb">
        <a class="thumbnail" href="https://www.djangoproject.com/">
            <img class="img-responsive" src="/assets/images/django.png" alt="">
        </a>
    </div>
</div>
<hr>
{% endblock content %}
