{% extends "base.html" %}
{% block head_title %}Contact · {{ block.super}} {% endblock head_title %}

{% block content %}
<hr>
<div class="container">
<div class="row">
  <div class="col-lg-6 col-sm-12 col-xs-12">
    <h1>Contact us</h1>
    <br>
    <address>
      <p class="lead"><a href="http://www.mobica.com/">Mobica Limited</a></p>
      <p class="lead"> Skierniewicka 10a</p>
      <p class="lead">01-230 Warsaw</p>
      <p class="lead">Poland</p>
    </address>
  </div>
  <div class="col-lg-6 col-sm-12 col-xs-12">
      <div class="embed-responsive embed-responsive-4by3">          
    <iframe frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJSUpFE8EyGUcRaeUF4uybAf0&key=AIzaSyA5ZnPs2IQeFFkYhx6ylY-s1oX6CBrUI6s"></iframe>
      </div>
    </div>
  </div>
</div>
</div>
<hr>
{% endblock content %}
