{% extends "base.html" %}
{% block head_title %}Contact · {{ block.super}} {% endblock head_title %}

{% block content %}
<hr>
<div class="container">
<div class="row">
  <div class="col-lg-6 col-sm-12 col-xs-12">
    <h1>Contact me</h1>
    <br>
    <address>
      <p class="lead"><a href="https://github.com/OrangeKing">GitHub</a></p>

    </address>
  </div>
  <div class="col-lg-6 col-sm-12 col-xs-12">
      <div class="embed-responsive embed-responsive-4by3">          
    </div>
  </div>
</div>
</div>
<hr>
{% endblock content %}
