{% extends "base.html" %} 
{% block head_title %} Search movies · {{ block.super}} {% endblock head_title %} 
{% block content%}
<br>
<br>
<br>
<section class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
				<br>
				{% if show_results %}
				<h1>Movies you've seen:</h1>
				{% for i in watchlist %}
					<p><a href="/movie/{{ i.imdb_id }}">{{ i.movie_name }}</a> </p>
				{% endfor %}
				<br>
				<hr>
				<h1>Movies recommended for you:</h1>
				{% for i in recommended %}
					<p><a href="/movie/{{ i.imdb_id }}">{{ i.movie_name }}</a></p>
				{% endfor %}

				{% else %}
					<h1>Sorry, you haven't watched any movies</h1>
					<img src="/assets/images/sad.png" alt=""  />
				{% endif %}

            </div>
        </div>
</section>

<br>
<br>
<br>
<br>
<br>
<hr>
{% endblock %}