{% extends "base.html" %} 
{% block head_title %} Add new review · {{ block.super}} {% endblock head_title %} 
{% block content%}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div style="text-align: center;">
            <h2>New review</h2>
        </div>
        <br>
        <div class="jumbotron-content">
            <form method="POST"> {% csrf_token %}
                <div class="form-group">
                    {% if form.title.errors %}
                    <label for="content"><h4><b>Title:</b></h4></label>
                    <div class="alert alert-danger" role="alert">
                        <h4><b>{{ form.title.errors }}</b></h4>
                    </div>
                    {% else %}
                    <label for="content"><h4><b>Title:</b></h4></label> {% endif %}
                    <input type="text" name="title" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>
                <hr>
                <div class="form-group">
                    {% if form.contents.errors %}
                    <label for="content"><h4><b>Review content:</b></h4></label>
                    <div class="alert alert-danger" role="alert">
                        <h4><b>{{ form.contents.errors }}</b></h4>
                    </div>
                    {% else %}
                    <label for="content"><h4><b>Review content:</b></h4></label> {% endif %}
                    <textarea class="form-control" rows="10" style="resize:vertical;" name="contents"></textarea>
                </div>
                <div class="form-group">
                    <label for="content"><h4></b>Location:</b></h4></label>
                    <input type="text" name="location" class="form-control">
                </div>
                <div class="form-group">
                    <label for="content"><h4></b>Movie:</b></h4></label>
                    <select class="form-control" name="movie">
                        <option>None</option>
                        {% for i in watchlist %}
                            <option>{{i.movie_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <hr>
                <button type="submit" class="btn btn-primary btn-large">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
