{% extends "base.html" %} {% block head_title %}Post feed · {{ block.super}} {% endblock head_title %} {% block content %}
<br>
<div class="container">


    {% for obj in object_list reversed %}
    <div class="panel panel-default">
        <div class="panel-heading"><h3><a href="{{ obj.get_absolute_url }}">{{ obj }}</a>, by {{obj.author}}</h3>
        </div>
        <div class="panel-body">
            <p class="lead">{{ obj.contents }}</p>
{% if obj.contents|length > 5 %}
            <p><a href="{{ obj.get_absolute_url }}">Read more</a></p>
            {% endif %}
        </div>
        <div class="panel-footer">
            <span class="badge">{{ obj.timestamp }}</span>
            <h4><span class="label" style="background-color:#95a5a6"><b>{{obj.location}}</b></span></h4>
        </div>
    </div>
    {% endfor %} {% endblock content %}