{% extends "base.html" %}
{% block head_title %}Movie details · {{ block.super}} {% endblock head_title %}
{% block content %}
<hr>
<br>
<br>
<div class="row">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-2 col-lg-offset-5 col-md-offset-1 col-xs-offset-1  thumb">

            <button id="watchedbtn" type="button" class="btn btn-info btn-lg">
                        <span id="watchedico" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Mark as watched
            </button>

        </div>
    </div>
</div>
{% endblock content %}